[alias]
        versions = tag --sort=v:refname
        co = checkout
        hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
        br = branch
        ci = commit
        st = status
        rb = rebase
        rbi = rebase -i
        ps = push
        pst = push --tags
        psf = push --force-with-lease
[fetch]
        prune = true
        all = true
[rebase]
        autosquash = true
