[alias]
        versions = tag --sort=v:refname
        co = checkout
        hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
        br = branch
        cm = commit
        cma = commit --amend
        fix = commit --fixup
        fixh = commit --fixup HEAD
        st = status
        rb = rebase
        rbi = rebase -i
        ps = push
        pst = push --tags
        psf = push --force-with-lease
        pr = commit --allow-empty -m 'Create PR'
        db = !"git branch --merged | grep -vE 'main|master|\\*' | xargs -n 1 git branch -D"
        chnlog = log --format=%B -n 1 HEAD
[user]
        name = Enrique Millan Valbuena
        email = INSERT EMAIL HERE
[fetch]
        prune = true
        all = true
[rebase]
        autosquash = true
